<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!--Fonts styles- roboto and poppins-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        

    <!--CSS Styles-->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/homepage.css">

</head>
<body>

    <header>
        <%- include("partials/navbar")%>
    </header>

    <main>

        <!--The hero section of the page-->
        <section class="sections">
            <div class="hero_section_Continar">
                <!--Tells about the business-->
                <div class="left_hero_section">
                    <h1 id="hero_heading">
                        Indulge in Sweet<br> Delights Just fo You
                    </h1>
                    <p id="hero_info">Discover a world of irresistible sweets and snacks that cater o every craving.Treat yourself to our delightful selection and experience the joy of every bite!</p>

                    <div class="hero_section_button">
                        <button class="shop_button button_common">Shop</button>
                        <button class="learn_button button_common">Learn More</button>
                    </div>

                </div>

                <!--right section, will have the collage of picture or videos-->

                <div class="right_hero_section">

                    <img id="hero_img" src="/assets/images/homepage/homepageHero3.jpg" alt="">

                </div>

            </div>

        </section>

        <!--The section will display the services or products-->
        <section class="services_section sections">
            <div class="services_section_heading">
                <h3 class="service_heading services_heading ">Delight</h3>
                <h2 class="service_subheading services_heading">Indulge in Our irresistible Treats</h2>
                <p class="services_info">Explore a world of sweet with our diverse range of products.From clasis candies to gourmet chocolate, we have something for every craving.</p>
            </div>

            <div class="services_section_overview">
                <div class="services_gridContianer">
                    <!--First service-->
                    <div>
                        <img class="services_img" src="/assets/icons/gifts.svg" alt="">
                        <h2>Discover Our Exquisite <br> Sweets Collection</h2>
                        <p>Our sweets are crafted to bring joy to every moment.</p>
                    </div>
                    <!--Second service-->
                    <div>
                        <img class="services_img" src="/assets/icons/cookie.svg" alt="">
                        <h2>Discover Our Exquisite <br> Sweets Collection</h2>
                        <p>Our sweets are crafted to bring joy to every moment.</p>
                    </div>

                    <!--Third service-->

                    <div>
                        <img class="services_img" src="/assets/icons/candy.svg" alt="">
                        <h2>Discover Our Exquisite <br> Sweets Collection</h2>
                        <p>Our sweets are crafted to bring joy to every moment.</p>
                    </div>

                </div>
                <!--Call to action button-->
                <div class="services_button_contianer">
                    <button class="shop_button button_common">Shop</button>
                    <button class="explore_button button_common">Explore</button>
                </div>

            </div>

        </section>

        <!--products info section-->

        <section class="sections">
            <div>
                <h2>Discover Our irresistible Selection of <br> Candy, Chocolate, Gifts and Snacks</h2>

            </div>

            <div class="products_info">
                <!--first img-info-->
                <div class="product_info_container">
                    <div>
                        <a href=""><img class="product_overview_img" src="/assets/images/homepage/choc-gift3.jpg" alt=""></a>
                        
                    </div>

                    <div class="products_details">
                        <h3 class="products_info_heading">Experience the Richness of Our<br> Premium Chocolate Collection!</h3>
                        <p>Treat yourself to our luxurious chocolates, crafted for<br> the ultimate indulgence.</p>
                        
                    </div>

                    <a href="">Explore</a>                     

                </div>
                <!--second img-info-->

                <div class="product_info_container">
                    <div>
                        <a href=""><img class="product_overview_img" src="/assets/images/homepage/cokies.jpg" alt=""></a>
                        
                    </div>
                    <div class="products_details">
                        <h3 class="products_info_heading">Crunchy and Flavorful Snacks to <br> Elevate Your Snacking Experience!</h3>
                        <p>Savor our variety of snacks that are perfect for any<br> gathering.</p>                        
                    </div>

                    <a href="">Explore</a>
                </div>

                <!--third img-info-->
                <div class="product_info_container">
                    <div>
                        <a href=""><img class="product_overview_img" src="/assets/images/homepage/candies.jpg" alt=""></a>
                        
                    </div>
                    <div class="products_details">
                        <h3 class="products_info_heading">Indulge in Sweet Treats for Every <br> Occasion and Craving!</h3>
                        <p>Explore our delightful range of candies that satisfy <br> every sweet tooth.</p>
                    </div>

                    <a href="">Explore</a>
                </div>
            </div>

        </section>

        <!--newsletter and tips subscribtion section-->

        <section class="sections">

            <div class="newsletter_subscribetion">
                <div >
                    <h2>Discover Your Sweet<br> Indulgence</h2>
                </div>
                <div>
                    
                    <p>
                        Dive into our delightfull selection of candies, chocoltes, gifts and snacks that <br> will satify everr craving. Sign up for our newsletter to stay updated on the <br>latest treats and exclusive offers!
                    </p>

                    <div>
                        <button class="button_common">Explore</button>
                        <button class="button_common">Subscribe</button>
                    </div>                

                </div>

            </div>
        </section>        

        

        
    </main>




    <!--The footer of the page-->
    <footer>


        <%- include("partials/footer")%>



    </footer>

    
</body>
</html>