<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

      


    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/homepage.css">

</head>
<body>

    <header>

    </header>

    <main>

        <!--The hero section of the page-->
        <section>
            <div class="hero_section_Continar">
                <!--Tells about the business-->
                <div class="left_hero_section">
                    <h1 id="hero_heading">
                        Indulge in Sweet<br> Delights Just fo You
                    </h1>
                    <p id="hero_info">Discover a world of irresistible sweets and snacks that cater o every craving.Treat yourself to our delightful selection and experience the joy of every bite!</p>

                    <div class="hero_section_button">
                        <button class="shop_button hero_button">Shop</button>
                        <button class="learn_button hero_button">Learn More</button>
                    </div>

                </div>

                <!--right section, will have the collage of picture or videos-->

                <div class="right_hero_section">

                    <img id="hero_img" src="/assets/images/homepage/homepageHero3.jpg" alt="">

                </div>

            </div>

        </section>

        <!--The section will display the services or products-->
        <section class="services_section">
            <div class="services_section_heading">
                <h3>Delight</h3>
                <h2>Indulge in Our irresistible Treats</h2>
                <p>Explore a world of sweet with our diverse range of products.From clasis candies to gourmet chocolate, we have something for every craving.</p>
            </div>

            <div class="services_section_overview">
                <div class="services_gridContianer">
                    <!--First service-->
                    <div>
                        <img src="/assets/icons/gifts.svg" alt="">
                        <h2>Discover Our Exquisite <br> Sweets Collection</h2>
                        <p>Our sweets are crafted to bring joy to every moment.</p>
                    </div>
                    <!--Second service-->
                    <div>
                        <img src="/assets/icons/cookie.svg" alt="">
                        <h2>Discover Our Exquisite <br> Sweets Collection</h2>
                        <p>Our sweets are crafted to bring joy to every moment.</p>
                    </div>

                    <!--Third service-->

                    <div>
                        <img src="/assets/icons/candy.svg" alt="">
                        <h2>Discover Our Exquisite <br> Sweets Collection</h2>
                        <p>Our sweets are crafted to bring joy to every moment.</p>
                    </div>

                </div>
                <!--Call to action button-->
                <div class="services_button_contianer">
                    <button class="shop_button">Shop</button>
                    <button class="explore_button">Explore</button>
                </div>

            </div>

        </section>

        <!--products info section-->

        <section>
            <div>
                <h2>Discover Our irresistible Selection of <br> Candy, Chocolate, Gifts and Snacks</h2>

            </div>

            <div class="products_info">
                <!--first img-info-->
                <div>
                    <div>
                        <a href=""><img class="product_overview_img" src="/assets/images/homepage/choc-gift3.jpg" alt=""></a>
                        
                    </div>
                    <a href="">Explore</a>
                </div>
                <!--second img-info-->

                <div>
                    <div>
                        <a href=""><img class="product_overview_img" src="/assets/images/homepage/cokies.jpg" alt=""></a>
                        
                    </div>
                    <a href="">Explore</a>
                </div>

                <!--third img-info-->
                <div>
                    <div>
                        <a href=""><img class="product_overview_img" src="/assets/images/homepage/candies.jpg" alt=""></a>
                        
                    </div>
                    <a href="">Explore</a>
                </div>
            </div>

        </section>

        <!--newsletter and tips subscribtion section-->

        <section>

            <div class="newsletter_subscribetion">
                <div >
                    <h2>Discover Your Sweet<br> Indulgence</h2>
                </div>
                <div>
                    
                    <p>
                        Dive into our delightfull selection of candies, chocoltes, gifts and snacks that will satify everr craving. Sign up for our newsletter to stay updated on the latest treats and exclusive offers!
                    </p>

                    <div>
                        <button>Explore</button>
                        <button>Subscribe</button>
                    </div>                

                </div>

            </div>
        </section>        

        

        
    </main>




    <!--The footer of the page-->
    <footer>



    </footer>

    
</body>
</html>