main{
    padding-left: 5%;
    padding-right: 5%;
}

.sections{
    margin-bottom: 100px;
}

/* Hero section style */

.hero_section_Continar{
    display: flex;
    align-items: center;

}


/*buttons*/

.hero_button{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border-style: none; 
    margin-top: 16px;
}


/*services section*/

.services_gridContianer{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
}

.services_heading{
    margin-bottom: 15px;
}

.services_img{
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.services_button_contianer{
    margin-top: 60px;
    margin-bottom: 30px;
}


/*Products overview*/

.products_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   

}

.product_overview_img{
    width: 385px;
    height: 385px;
    margin-bottom: 25px;
}

.products_info{
    margin-top: 30px;
}


.products_info_heading{
    margin-bottom: 15px;
}

.products_details{
    margin-bottom: 30px;
}


/*newsletter and subscribtion*/

.newsletter_subscribetion{
    display: flex;
    justify-content: space-between;
    
}