<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <footer>
        <div class="footer_main_container">
            <section class="left_footer">

                <div>
                    <span>LOGO</span>
                </div>

                <div>
                    <h3>Address:</h3>
                    <a href="">Level 10, Klooper St, NW</a>
                </div>

                <div>
                    <h3>Contact:</h3>
                    <p>0768463374</p>
                    <p>infor@gmail.com</p>
                </div>

                <div>
                    <img src="" alt="">
                </div>

            </section>

            <section class="right_footer">

                <div class="right_footer1">
                    <a href="">About Us</a>
                    <a href="">Our Products</a>
                    <a href="">Contact Us</a>
                    <a href="">FAQs</a>
                    <a href="">Blog</a>

                </div>

                <div class="right_footer2">
                    <a href="">Careers</a>
                    <a href="">Gift Cards</a>
                    <a href="">Shipping Info</a>
                    <a href="">Returns Policy</a>
                    <a href="">Sustainability</a>

                </div>
                

            </section>


        </div>

            <hr>
            <div class="bottom_footer_links">
                <div class="left_bottom_footer">
                    <a href="">2025 Sweet Delights.All rights reserved.</a>
                </div>
                <div class="right_bottom_footer">
                    <a href="">Privacy</a>
                    <a href="">Terms of service</a>
                    <a href="">Cookies Settings</a>
                </div>
            </div>        
    </footer>
</body>
</html>