<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/homepage.css">
    <link rel="stylesheet" href="/src/frontend/public/styles/main.css">
</head>
<body>
    <nav>
        <div id="left_navbarLinks">
            <a href="#">Candyshop</a>
        </div>

        <div id="right_navbarLinks">
            <div id="navbar_links">
                <ul>
                    <li><a href="">Home Sweets</a></li>
                    <li><a href="">Choco Delights</a></li>
                    <li><a href="">Snack Time</a></li>
                    <li><a href="">More Treats<img id="navbar_Moreicon" src="/assets/icons/downwardsArrow.svg " alt=""></a></li>
                </ul>
            </div>

            <div id="right_navButton">
                <button>Shop</button>
                <button>Join</button>
            </div>

        </div>


    </nav>    
    
</body>
</html>



